<div class="class container">
    <h3 style="margin-top: 20px; margin-bottom: 20px">
        About Our Company
    </h3>
    <div class="class container">
        <p>
            Hello and welcome to E-Commerce, the place to find the best electronic devices for every taste and occasion. We thoroughly check the quality of our goods, working only with reliable suppliers so that you only receive the best quality product. We at E-Commerce
            believe in high quality and exceptional customer service. But most importantly, we believe shopping is a right, not a luxury, so we strive to deliver the best products at the most affordable prices, and ship them to you regardless of where
            you are located.
        </p>
    </div>
</div>